<button class="btn btn-primary" type="submit" routerLink="add">Thêm mới</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Price</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td><img [src]="product.img" /></td>
        <td>
          <button class="btn btn-danger " (click)="removeItem(product.id)!">Xóa</button>
          <button class="btn btn-warning" routerLink="{{ product.id }}/edit" >Sửa</button>
      </td>
      </tr>
    </tbody>
  </table>
